<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title></title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element -->

        <p>Click the "Start" button to begin video recording for a few seconds. You can stop
           the video by clicking the creatively-named "Stop" button. The "Download"
           button will download the received data (although it's in a raw, unwrapped form
           that isn't very useful).
        </p>
        <br>
        <div class="left">
          <div id="startButton" class="button">
            Start
          </div>
          <h2>Preview</h2>
          <video id="preview" width="160" height="120" autoplay muted></video>
        </div>
        <div class="right">
          <div id="stopButton" class="button">
            Stop
          </div>
          <h2>Recording</h2>
          <video id="recording" width="160" height="120" controls></video>
          <div id="downloadButton" class="button">
            Download
          </div>
        </div>
        <div class="bottom">
          <pre id="log"></pre>
      </div>

      <div id="container">
          <div id="canvas"></div>
      </div>

      <script type="text/javascript" src="static/js/three.min.js"></script>
      <script type="text/javascript" src="static/js/TrackballControls.js"></script>
      <script src="static/js/main.js"></script>
      <script src="static/js/index.js"></script>
  </body>
</html>

